<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Crode.js - ftp file indexer &amp; crawler</h5>
                <p class="grey-text text-lighten-4">Crode.js is a simple node.js + express.js application to crawl and scrape open download links and index it.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Support libs</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.npmjs.com/package/crawler">crawler</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.npmjs.com/package/cheerio">cheerio</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.npmjs.com/package/express">express.js</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.npmjs.com/package/request">request</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              &copy; 2017 Copyright haxzie.me
            <a class="grey-text text-lighten-4 right" href="http://github.com/haxzie">Github</a>
            </div>
          </div>
        </footer>
