<!-- Dropdown Structure -->

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">crode<span class="dull-text">.js</span></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="http://github.com/haxzie">Github</a></li>
      <li><a href="/crawl">Crawl</a></li>
      <li><a href="/scrape">Scrape</a></li>
      <li><a href="/api">API</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
